html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #001f3f;
    position: fixed;
    top: 10;
    width: 30vw;
    max-width: 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

ul {
    list-style: none;
    padding-right: .5rem;
}

a {
    font-size: 1.6rem;
    color: #7FDBFF;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

i {
    color: #ffffff;
    font-size: 2rem;
    padding: 0 .5rem;
}

.nav-link {
    padding: 3rem 0rem;

}

a:hover {
    color: whitesmoke;
}