html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #001f3f;
    position: fixed;
    top: 10;
    width: 30vw;
    max-width: 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

ul {
    list-style: none;
    padding-right: .5rem;
}

a {
    font-size: 1.6rem;
    color: #7FDBFF;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
}

i {
    color: #ffffff;
    font-size: 2rem;
    padding: 0 .5rem;
}

.nav-btn {
    display: none;
}

.nav-link {
    padding: 3rem 0rem;

}

a:hover {
    color: whitesmoke;
}

@media only screen and (max-width:768px) {

    nav {
        width: 15vw;
        padding: 3rem;
    }

    ul {
        display: none;
    }

    .nav-btn {
        display: inline-block;
        border: none;
        border-radius: 0;

        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        margin: 4rem;
        cursor: pointer;
    }

    .nav-btn::before,
    .nav-btn::after {
        content: '';
        display: block;
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
    }



    .nav-btn::before {
        transform: translateY(-1.5rem);
    }

    .nav-btn::after {
        transform: translateY(1.3rem);
    }

}